<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обнаружение людей</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Загрузите изображение</h1>
        <form id="uploadForm" enctype="multipart/form-data">
            <label for="modelSelect">Выберите модель:</label>
            <select id="modelSelect" name="model">
                <option value="yolo11n" selected>yolo11n</option>
                <option value="yolo11m">yolo11m</option>
            </select>
            <input type="file" id="fileInput" name="file" accept="image/jpeg,image/png" required>
            <button type="submit">Загрузить</button>
        </form>
        <div id="statusContainer" style="display: none;">
            <p id="statusMessage">Обработка...</p>
            <div class="loader"></div>
        </div>
        <div id="resultContainer" style="display: none;">
            <h2>Результат</h2>
            <div class="result-image-container">
                <img id="resultImage" src="" alt="Результат">
            </div>
            <button id="uploadNextButton">Загрузить следующее фото</button>
        </div>
    </div>
    <script>
        document.getElementById('uploadForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const fileInput = document.getElementById('fileInput');
            console.log(fileInput)
            const file = fileInput.files[0];
            console.log(file)
            const modelSelect = document.getElementById('modelSelect');
            const model = modelSelect.value;
            const formData = new FormData();
            formData.append('file', file);
            formData.append('model', model);
            console.log(formData)

            // Show status message and loader
            document.getElementById('statusContainer').style.display = 'block';
            document.getElementById('statusMessage').textContent = 'Обработка...';

            try {
                const response = await fetch('/upload/', {
                    method: 'POST',
                    body: formData
                });

                console.log(response)

                if (response.ok) {
                    const blob = await response.blob();
                    const url = URL.createObjectURL(blob);
                    document.getElementById('resultImage').src = url;
                    document.getElementById('resultContainer').style.display = 'block';
                    document.getElementById('statusContainer').style.display = 'none';
                } else {
                    alert('Failed to upload image');
                    document.getElementById('statusContainer').style.display = 'none';
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred while uploading the image');
                document.getElementById('statusContainer').style.display = 'none';
            }
        });

        document.getElementById('uploadNextButton').addEventListener('click', function() {
            document.getElementById('fileInput').value = '';
            document.getElementById('resultContainer').style.display = 'none';
        });
    </script>
</body>
</html>
